<ion-view view-title="A propos">
    <ion-content class="about" ng-controller="AboutCtrl">
        <a href="javascript:history.go(-1)"><i class="fa fa-arrow-left"></i></a>
        <div class="content">
            <h1>Qu'est ce que MMI'zz ?</h1>
            <p>Cette application n'est destinée qu'aux étudiants de 1ère et 2ème année de DUT Métiers du Multimédia et de l'Internet (MMI). Pour jouer, il suffit simplement de se connecter via un pseudo, puis en sélectionnant votre IUT. Une fois l'étape "personnel" de passée, vous choisissez le domaine dans lequel vous voulez être questionné. Après le choix du domaine, vous sélectionnez votre niveau de difficulté. Une fois le quizz terminé, vous pouvez découvrir son score, celui de l'IUT et celui des autres établissements.</p>
            <h2>Pourquoi MMI'zz ?</h2>
            <p>L'application est née d'un projet imposé en cours de Programmation Mobile. Nous avions le choix en 3 sujets différents. Voulant sortir du lot, nous avons décidé à 3 de réaliser un quizz pour les MMI afin de solliter plus les étudiants de cette formation.</p>
        </div>
    </ion-content>
</ion-view>
