<ion-view ui-sref="/map" view-title="Map">
  <ion-content>
    <h1>la carte trop cool</h1>
    <ng-map default-style="true" center="[48.840119174874026, 2.5862503051757812]">
      <!-- <marker id="yolo" position="[48.840119174874026, 2.5862503051757812]" title="salut">
      </marker> -->
      <!-- <info-window id="info" visible-on-marker="yolo">
        <div ng-non-bindable>
          <div id="bodyContent">
            <card title="IUT/université de marne la vallé">
            </card>
          </div>
        </div>
      </info-window> -->
    </ng-map>
    <a href="">ahahhahahahahaha.</a>
  </ion-content>
</ion-view>
