<ion-view view-title="Questions">
  <ion-content class="questions">
    <ion-list>
      <ion-item>
        <h2>{{question.name}}</h2>
        {{question.img}}
        <ion-item ng-repeat="answer in answers" ng-click="checkAnswer(answer.correct, question.id)" class="answer" ng-model="result" ng-class="{'fail': result, 'success': result}">
          <div class="break">{{answer.name}}</div>
          {{class}}
          {{answer.img}}
        </ion-item>
          {{correct}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
