* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* ----------------------------------------------------------*/
/* -------------------- LANDING PAGE ------------------------*/
/* ----------------------------------------------------------*/
ion-content.landing {
    background-color: #e54d42;
}
.landing .fa {
    font-size: 30px;
    color: #fefefe;
    margin: 10px 10px;
}
.landing img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landing button {
    background: none;
    border: none;
    border: 1px solid #fefefe;
    color: #fefefe;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 20px 60px;
    font-family: 'Montserrat';
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
}
.landing button:hover, .landing button:active {
    background-color: #fefefe;
    color: black;
}

/* ----------------------------------------------------------*/
/* -------------------- ABOUT PAGE --------------------------*/
/* ----------------------------------------------------------*/
ion-content.about {
    background-color: #f0c330;
}
.about .fa {
    font-size: 2.5em;
    color: #35495d;
    margin: 15px;
}
.about .content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 30px;
}
.about h1, .about h2 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #e54d42;
    text-shadow: 1px 1px 1px #0f0f0f;
}
.about h1 {
    font-size: 2.2em;
}
.about h2 {
    margin-top: 20px;
    font-size: 1.5em;
}
.about p {
    text-align: justify;
}

/* ----------------------------------------------------------*/
/* -------------------- REGISTER PAGE ------------------------*/
/* ----------------------------------------------------------*/
ion-content.register {
    background-color: #3a99d8;
    padding: 0 30px;
}
.register .list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.register h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-bottom: 50px;
    color: #ecf0f1;
}
.register .list label {
    width: 100%;
    border: none;
    box-shadow: 1px 1px 6px 0px #656565;
}
.register .list label:first-child {
    margin-bottom: 20px;
}
.register .list .input-label {
    width: auto;
}
.register .list button {
    margin-top: 50px;
    width: 100%;
    padding: 15px 0;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background:none;
    border: 1px solid #fefefe;
    color: #fefefe;
}
.register .list button:hover, .register .list button:focus {
    background-color: #fefefe;
    color: #35495d;
}

.register .error {
  padding-top:10px;
  color:#fff;
}

/* ----------------------------------------------------------*/
/* -------------------- CATEGORIES PAGE ---------------------*/
/* ----------------------------------------------------------*/
ion-content.categories {
    background-color: #f0c330;
    justify-content: center;
    align-items: center;
}
.categories ion-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.categories ion-item {
    background: none;
    border: none;
    background-color: #35495d;
    color: #fefefe;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    width: 100%;
    height: 150px;
    box-shadow: 1px 3px 5px 0px #656565;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.categories ion-item:nth-of-type(2) {
    margin: 40px 0;
}
.categories ion-item:active, .categories ion-item:hover {
    background-color: #1b2834;
}


/* ----------------------------------------------------------*/
/* -------------------- LEVELS PAGE -------------------------*/
/* ----------------------------------------------------------*/
ion-content.levels {
    background-color: #39ca74;
}
.levels ion-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.levels ion-item {
    background: none;
    border: none;
    background-color: #35495d;
    color: #fefefe;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    width: 100%;
    height: 150px;
    box-shadow: 1px 3px 5px 0px #656565;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.levels ion-item:nth-of-type(2) {
    margin: 40px 0;
}
.levels ion-item:active, .levels ion-item:hover {
    background-color: #1b2834;
}

/* ----------------------------------------------------------*/
/* -------------------- QUESTIONS PAGE ----------------------*/
/* ----------------------------------------------------------*/
ion-content.questions {
    background-color: #35495d;
}
.questions ion-list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-line;
}
.questions h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    color: #ecf0f1;
    margin-bottom: 50px;
    white-space: pre-line;
}
.questions ion-item {
    border: none;
    background: none;
}
.questions ion-item.answer {
    margin: 2%;
    width: 46%;
    height: 150px;
    font-family: 'Lato';
    background-color: #ecf0f1;
    float: left;
    white-space: pre-line;
    padding: 0;
    box-shadow: 1px 1px 6px 0px #fefefe;
}
.questions ion-item.answer .break {
    text-align: center;
    position: relative;
    top: 25%;
}

.questions .check {
  position: absolute;
  left:50%;
  top:90%;
  transform: translateX(-50%);
  font-size: 3em;
  text-align: center;
}

.questions .fa-times {
  color:#e54d42;
  transition: all .3s ease-out;
}

.questions .fa-check {
  color:#39ca74;
  transition: all .3s ease-out;

}
/* ----------------------------------------------------------*/
/* -------------------- RESULT PAGE -------------------------*/
/* ----------------------------------------------------------*/
ion-content.result {
    background-color: #f0c330;
}
.result h1 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
    color: #e54d42;
    text-shadow: 1px 1px 1px #0f0f0f;
}
.result .socialnetwork {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: auto;
}
.result .socialnetwork .round {
    background-color: #35495d;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    margin: 20px 0;
}
.result .socialnetwork a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.result .socialnetwork .fa {
    color: #fefefe;
    font-size: 45px;
}
.result button {
    background: none;
    border: none;
    border: 1px solid #35495d;
    color: #35495d;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 20px 60px;
    font-family: 'Montserrat';
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
}
.result button:hover, .result button:active {
    background-color: #35495d;
    color: #fefefe;
}

/* ----------------------------------------------------------*/
/* -------------------- RESULTS PAGE -------------------------*/
/* ----------------------------------------------------------*/
ion-content.results {
    background-color: #e54d42;
}
.results h1 {
    margin: 30px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #f0c330;
    text-shadow: 1px 1px 1px #0f0f0f;
}
.results ion-item {
    background-color: #35495d;
    border: none;
    font-family: 'Lato';
}
.results ion-item h2, .results ion-item h3 {
    color: #cecece;
    font-size: 18px;
}
.results ion-item h3 {
    font-weight: bold;
    color: #fefefe;
}
